*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    
}
video{
    position: relative;
    height: 100%;
    width: 100%;
}


h1{
    position: absolute;
    height: 100px;
    color: black;
    z-index: 1;
    left: 36%;
    top: 25%;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}
.countdown-container{
display: flex;
position: absolute;
top: 47%;
left: 31%;
color:black;
}

.big-text{
font-size: 4rem;
line-height: 1;
margin:  0 2rem;
font-weight: bold;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}
